@charset "utf-8";

@media (min-width: 80em){
	.page {
		padding-right: 0 !important;
	}
	.archive {
		padding-right: 0 !important;
	}
}


@media (min-width: 64em){
	.page {
		padding-right: 0 !important;
	}
	.archive {
		padding-right: 0 !important;
	}
}

.page {
	word-break: break-all;
}
.archive {
	word-break: break-all;
}

    